*{margin:0;padding:0;border:none;}

body{
	background-color: rgb(235,235,235);
}

.header{
	min-width: 1100px; 
	background-color: rgb(30,30,30);
}

.menu{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.list{
	display: flex;
}

.item{
	list-style: none;
}

.item-link{
	color: white;
	text-decoration: none;
	display: block;
	padding: 14px 20px;
	font-size: 19px;
}

.item-link:hover, a.active{
	background-color: rgb(100,100,100);
}

.content{
	display: flex;
	background-color: white;
	width: 1100px;
	margin: 30px auto;
		text-align: justify;
}

.sidebar{
	margin: 20px 20px 10px 20px;
}

.sidebar h2{
	font-size: 17px;
}

.sidebar p{
	font-size: 13px;
	margin-top: 10px;
}


.img-right{
	margin-top: 20px;
}

/* .right h2:last-child{  класс ригхт не срабатывает */
.xxx{	
	margin-top: 20px;
}

.main{
	margin: 20px 0px;
}

.main h1{
	font-size: 21px;
}

.main p{
	margin: 10px 0;
}

.img-main{
	width: 600px;
}

.main h2{
	font-size: 19px;
	margin-top: 20px;
}

/* .main h2:last-child{ */
.yyy{	
	margin-bottom: 10px;
}

.footer{
	min-width: 1100px; 
	background-color: rgb(30,30,30);
	text-align: center;
}

.footer-menu{
	display: flex;
}

.footer-menu h2{
	font-size: 19.66px;
}

.footer-menu p{
	font-size: 13px;
}

.footer-menu p:last-child{
	border-top: 1px solid rgb(100,100,100);
	margin-top: 15px;
}

.footer-menu > div{
	background-color: rgb(235,235,235);
	/* margin: 30px 5px 10px 5px;
	padding: 10px 10px 50px 10px; */
	min-height: 180px;

	margin: 30px 12px 0px 2px;
	padding: 10px;
}

.footer-menu p{margin-bottom: 3px;}

div.last{
	margin-right: 2px;
}

.copyright{
	color: white;
	font-size: 13px;
	margin-top: 30px;
	padding-bottom: 5px;
}